atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

git/gitconfig.symlink

moc.symlink/pid
moc.symlink/playlist.m3u

logs/*
logs
*.log
script/plugins.xml.gz
slack.cache

sup.symlink/xapian
sup.symlink/log
sup.symlink/exception-log.txt
sup.symlink/lock
*.mbox
