---
version: '3.3'
# want to link all of the SSH configs etc from the local machine into this container
# the idea is that this replaces using a virtualbox'd ubuntu

services:
    devbox:
        build: .
        # image: devbox:latest
        ports:
          # example .. add more here as needed
          - 80:80
        environment:
            - TERM=xterm-256color
            - LANG=en_US.UTF-8
            - LC_CTYPE=en_US.UTF-8
        volumes:
            - ~/code:/home/chrcoe/code
            - ~/.dotfiles:/home/chrcoe/.dotfiles
            - ~/.zsh_history:/home/chrcoe/.zsh_history
            - ~/.ssh:/home/chrcoe/.ssh
        container_name: devbox
        # drop into a shell to start working ... in the future this will likely start up the tmux session
        # cannot run `$ docker-compose up` because it is tailing all the logs to the local machine...
        # this includes all of the stdout so you will not be able to interact normally
        #
        # INSTEAD .. run with `$ docker-compose run --rm devbox`
        # use the script `make_it_so` which will build, start detached, then attach to it ... crazy I know,
        # but this way you can use it as a normal environment
        entrypoint: /entrypoint
        stdin_open: true
        tty: true

